<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Toolbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Toolbox</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="toolbox-image">
    <img src="../../assets/img/toolbox.png" alt="Caja de herramientas">
  </div>
</ion-content>
